#custom file
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string us

d-i     netcfg/get_nameservers  string
d-i     netcfg/get_ipaddress    string
d-i     netcfg/get_netmask      string 255.255.255.0
d-i     netcfg/get_gateway      string
d-i     netcfg/confirm_static   boolean true

d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string <%= config.image_svc_host %>:<%= config.image_svc_port %>
d-i mirror/http/directory string /razor/image/os/<%= @image_uuid %>
d-i mirror/http/proxy string
d-i clock-setup/utc boolean true
d-i time/zone string Europe/London
d-i clock-setup/ntp boolean true

d-i     partman-auto/method string regular
d-i     partman-lvm/device_remove_lvm boolean true
d-i     partman-lvm/confirm boolean true

d-i     partman/confirm boolean true
d-i     partman/confirm_nooverwrite boolean true
d-i     partman/default_filesystem string ext3

d-i     partman-auto/expert_recipe string exampleserver :: 20000 50 50000 ext4 $primary{ } $bootable{ } method{ format } format{ } use_filesystem{ } filesystem{ ext4 } mountpoint{ / } . 5000 10000 1000000000 ext3 method{ format } format{ } use_filesystem{ } filesystem{ ext4 } mountpoint{ /scratch } . 64 512 200% linux-swap method{ swap } format{ } .

d-i     partman/confirm_write_new_label boolean true
d-i     partman/choose_partition        select Finish partitioning and write changes to disk


d-i passwd/root-login boolean true
d-i passwd/make-user boolean true
d-i passwd/root-password password <%= @root_password %>
d-i passwd/root-password-again password <%= @root_password %>
d-i passwd/user-fullname string User
d-i passwd/username string user
d-i passwd/user-password password insecure
d-i passwd/user-password-again password insecure
d-i user-setup/allow-password-weak boolean true
d-i apt-setup/restricted boolean true
d-i pkgsel/include string curl openssh-server
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i finish-install/reboot_in_progress note
#Our callbacks
d-i preseed/early_command string wget <%= api_svc_uri %>/policy/callback/<%= policy_uuid %>/preseed/start
d-i preseed/late_command string  \
wget <%= api_svc_uri %>/policy/callback/<%= policy_uuid %>/preseed/end; \
wget <%= api_svc_uri %>/policy/callback/<%= policy_uuid %>/postinstall/inject -O /target/usr/local/bin/razor_postinstall.sh;  \
sed -i '/exit 0/d' /target/etc/rc.local;  \
echo bash /usr/local/bin/razor_postinstall.sh >> /target/etc/rc.local; \
sed -i 's/GRUB_CMDLINE_LINUX_DEFAULT="quiet splash"/GRUB_CMDLINE_LINUX_DEFAULT="quiet splash video=vesa:off vga=normal"/g' /target/etc/default/grub; \
in-target update-grub; \
echo "blacklist nouveau" >> /target/etc/modprobe.d/blacklist-nouveau.conf; \
echo exit 0 >> /target/etc/rc.local;  \
chmod +x /target/usr/local/bin/razor_postinstall.sh

