#!/bin/bash


[ "$?" -eq 0 ] && curl <%= callback_url("postinstall", "set_hostname_ok") %> || curl <%= callback_url("postinstall", "set_hostname_fail") %>

# Need to add the Puppetlabs repo
rpm -i http://yum.puppetlabs.com/el/6/products/x86_64/puppetlabs-release-6-6.noarch.rpm
[ "$?" -eq 0 ] && curl <%= callback_url("postinstall", "repo_install_ok") %> || curl <%= callback_url("postinstall", "repo_install_fail") %>

# Install requirements
yum -y install rubygems facter
[ "$?" -eq 0 ] && curl <%= callback_url("postinstall", "yum_install_ok") %> || curl <%= callback_url("postinstall", "yum_install_fail") %>



# install ofed packages
mkdir -p /var/tmp/ofed
mount <%= config.image_svc_host %>:/opt/ofed /var/tmp/ofed
tar xvzf /var/tmp/ofed/OFED-1.5.4.1.tar.gz -C /tmp
/tmp/OFED-1.5.4.1/install.pl --all 
umount /opt/ofed

#install extra repo
yum install -y rpmforge-release

#create ip address for ib0 interface
ipaddress=$(ifconfig eth0  | grep 'inet addr:'| grep -v '127.0.0.1' | cut -d: -f2 | awk '{ print $1}' | awk -F"." '{print $4}')
echo "IPADDR=\"192.168.6.$ipaddress\"" >> /etc/sysconfig/network-scripts/ifcfg-ib0
echo "NETMASK=\"255.255.0.0\"" >> /etc/sysconfig/network-scripts/ifcfg-ib0
echo "BROADCAST=\"192.168.255.255\"" >> /etc/sysconfig/network-scripts/ifcfg-ib0
sed -i s/dhcp/static/ /etc/sysconfig/network-scripts/ifcfg-ib0
sed -i s/ONBOOT=\"no\"/ONBOOT=\"yes\"/g /etc/sysconfig/network-scripts/ifcfg-ib0


/etc/init.d/openibd restart

[ "$?" -eq 0 ] && curl <%= callback_url("postinstall", "ofed_install_ok") %> || curl <%= callback_url("postinstall", "ofed_install_fail") %>
update-pciids
[ "$?" -eq 0 ] && curl <%= callback_url("postinstall", "pciids_update_ok") %> || curl <%= callback_url("postinstall", "pciids_update_fail") %>



# Get current IP
node_ip=`facter ipaddress`
# Send IP up
curl <%= callback_url("postinstall", "send_ips") %>/$node_ip
# get final script
curl <%= callback_url("postinstall", "boot") %> | sh
# Send final state
curl <%= callback_url("postinstall", "final") %> &



sed -i 's/bash \/usr\/local\/bin\/razor_postinstall.sh//g' /etc/rc.d/rc.local 

[ "$?" -eq 0 ] && curl <%= callback_url("postinstall", "removed_boot_script_ok") %> || curl <%= callback_url("postinstall", "removed_boot_script_fail") %>
